#root {
  margin: 0;
  padding: 0;
}

body {
  background: lightblue;
}

.title-section {
  background-color: darkblue;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-page {
  min-height: 500px;
  width: 900px;
  margin: 2em;
  border: 3px solid black;
  background: white;
  padding: 3em;
}

h2 {
  font-size: 2rem;
  border-bottom: 2px solid black;
}

label {
  font-weight: bold;
}

form {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  margin-top: 2em;
  margin-bottom: 10em;
  gap: 15px;
}

input {
  margin-right: 10em;
}

textarea {
  max-width: 80%;
}
