#root {
  margin: 0;
  padding: 0;
}

body {
  background: lightblue;
}

.title-section {
  background-color: darkblue;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

.form-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-page {
  min-height: 500px;
  width: 900px;
  margin: 2em;
  border: 3px solid black;
  background: white;
  padding: 3em;
}

h2 {
  font-size: 2rem;
  border-bottom: 2px solid black;
}

label {
  font-weight: bold;
}

.form-style {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  margin-top: 2em;
  margin-bottom: 5em;
  gap: 15px;
}

input {
  margin-right: 10em;
  cursor: pointer;
}

textarea {
  max-width: 80%;
  resize: none;
}

li {
  list-style-type: none;
  word-wrap: break-word;
  line-height: 2.5em;
}

.cv-title {
  display: flex;
  justify-content: center;
  text-decoration-line: underline;
  padding-bottom: 2em;
}

.education,
.work-experience {
  padding-top: 5em;
}

.cv-sub-title {
  background: darkblue;
  color: white;
  padding-left: 5px;
  border: 2px solid black;
}

.hide {
  display: none;
}

.center-btn {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

.btn {
  padding: 0.5em 3em;
  margin: 2em;
}

.addMoreBtn {
  background: none;
  color: darkblue;
}

.addMoreBtn:hover {
  background: lightblue;
}

.extra-style {
  list-style-type: disc;
}

.extra-section {
  padding-left: 1.4em;
}
